In [1]:
# Import required libraries

import pandas as pd
import numpy as np

In [4]:
# Import train data
train_plus=pd.read_csv("./NSL-KDD/Text_files/train/KDDTrain+.txt",header=None)
train_20=pd.read_csv("./NSL-KDD/Text_files/train/KDDTrain+_20Percent.txt",header=None)

In [6]:
# Import Test data
test_plus=pd.read_csv("./NSL-KDD/Text_files/test/KDDTest+.txt",header=None)
test_21=pd.read_csv("./NSL-KDD/Text_files/test/KDDTest-21.txt",header=None)

In [7]:
test_plus.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,tcp,private,REJ,0,0,0,0,0,0,...,0.04,0.06,0.00,0.00,0.0,0.0,1.00,1.00,neptune,21
1,0,tcp,private,REJ,0,0,0,0,0,0,...,0.00,0.06,0.00,0.00,0.0,0.0,1.00,1.00,neptune,21
2,2,tcp,ftp_data,SF,12983,0,0,0,0,0,...,0.61,0.04,0.61,0.02,0.0,0.0,0.00,0.00,normal,21
3,0,icmp,eco_i,SF,20,0,0,0,0,0,...,1.00,0.00,1.00,0.28,0.0,0.0,0.00,0.00,saint,15
4,1,tcp,telnet,RSTO,0,15,0,0,0,0,...,0.31,0.17,0.03,0.02,0.0,0.0,0.83,0.71,mscan,11

In [8]:
# preprocess data
train=pd.concat([train_plus,train_20])

In [9]:
train.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,normal,20
1,0,udp,other,SF,146,0,0,0,0,0,...,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal,15
2,0,tcp,private,S0,0,0,0,0,0,0,...,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,neptune,19
3,0,tcp,http,SF,232,8153,0,0,0,0,...,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal,21
4,0,tcp,http,SF,199,420,0,0,0,0,...,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal,21

In [10]:
train=train.rename({41: "Attack"}, axis='columns')
train.loc[train["Attack"] == 'normal', "Attack"] = 0
train.loc[train["Attack"] != 0, "Attack"] = 1

In [11]:
train.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,Attack,42
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,0,20
1,0,udp,other,SF,146,0,0,0,0,0,...,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,0,15
2,0,tcp,private,S0,0,0,0,0,0,0,...,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,1,19
3,0,tcp,http,SF,232,8153,0,0,0,0,...,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,0,21
4,0,tcp,http,SF,199,420,0,0,0,0,...,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,21

In [12]:

X=train.drop(['Attack'],axis=1)
y=train['Attack']

In [13]:
X

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,42
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,25,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,20
1,0,udp,other,SF,146,0,0,0,0,0,...,1,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,15
2,0,tcp,private,S0,0,0,0,0,0,0,...,26,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,19
3,0,tcp,http,SF,232,8153,0,0,0,0,...,255,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,21
4,0,tcp,http,SF,199,420,0,0,0,0,...,255,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25187,0,tcp,exec,RSTO,0,0,0,0,0,0,...,7,0.03,0.06,0.00,0.00,0.00,0.00,1.00,1.00,19
25188,0,tcp,ftp_data,SF,334,0,0,0,0,0,...,39,1.00,0.00,1.00,0.18,0.00,0.00,0.00,0.00,12
25189,0,tcp,private,REJ,0,0,0,0,0,0,...,13,0.05,0.07,0.00,0.00,0.00,0.00,1.00,1.00,21
25190,0,tcp,nnsp,S0,0,0,0,0,0,0,...,20,0.08,0.06,0.00,0.00,1.00,1.00,0.00,0.00,20
25191,0,tcp,finger,S0,0,0,0,0,0,0,...,49,0.19,0.03,0.01,0.00,1.00,1.00,0.00,0.00,18

In [14]:
# Leave_one_out_encoding
import category_encoders
ce=category_encoders.leave_one_out.LeaveOneOutEncoder(cols=[1,2,3])

In [15]:
X=ce.fit_transform(X,y)

C:\Users\Milad\anaconda3\envs\security\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [16]:
X

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,42
0,0,0.478306,0.275106,0.154164,491,0,0,0,0,0,...,25,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,20
1,0,0.170138,0.401457,0.154164,146,0,0,0,0,0,...,1,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,15
2,0,0.478298,0.954929,0.989632,0,0,0,0,0,0,...,26,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,19
3,0,0.478306,0.056434,0.154164,232,8153,0,0,0,0,...,255,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,21
4,0,0.478306,0.056434,0.154164,199,420,0,0,0,0,...,255,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25187,0,0.478298,1.000000,0.858981,0,0,0,0,0,0,...,7,0.03,0.06,0.00,0.00,0.00,0.00,1.00,1.00,19
25188,0,0.478298,0.274985,0.154153,334,0,0,0,0,0,...,39,1.00,0.00,1.00,0.18,0.00,0.00,0.00,0.00,12
25189,0,0.478298,0.954929,0.761452,0,0,0,0,0,0,...,13,0.05,0.07,0.00,0.00,0.00,0.00,1.00,1.00,21
25190,0,0.478298,1.000000,0.989632,0,0,0,0,0,0,...,20,0.08,0.06,0.00,0.00,1.00,1.00,0.00,0.00,20
25191,0,0.478298,0.689493,0.989632,0,0,0,0,0,0,...,49,0.19,0.03,0.01,0.00,1.00,1.00,0.00,0.00,18

In [17]:
# InterQuartile Scaling
from sklearn.preprocessing import RobustScaler
transformer = RobustScaler().fit(X)

In [18]:
X_scaled=transformer.transform(X)

In [19]:
X=pd.DataFrame(X_scaled,columns=X.columns)

In [20]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,42
0,0.0,1.000000,0.000000,0.0,1.619565,0.000000,0.0,0.0,0.0,0.0,...,-0.151020,-0.357895,0.000000,2.833333,0.0,0.00,0.00,0.05,0.00,0.000000
1,0.0,-37969.578237,0.140625,0.0,0.369565,0.000000,0.0,0.0,0.0,0.0,...,-0.248980,-0.536842,8.142857,14.666667,0.0,0.00,0.00,0.00,0.00,-1.666667
2,0.0,0.000000,0.756624,1.0,-0.159420,0.000000,0.0,0.0,0.0,0.0,...,-0.146939,-0.431579,0.285714,0.000000,0.0,1.00,1.00,0.00,0.00,-0.333333
3,0.0,1.000000,-0.243376,0.0,0.681159,15.678846,0.0,0.0,0.0,0.0,...,0.787755,0.515789,-0.428571,0.500000,2.0,0.03,0.01,0.00,0.01,0.333333
4,0.0,1.000000,-0.243376,0.0,0.561594,0.807692,0.0,0.0,0.0,0.0,...,0.787755,0.515789,-0.428571,0.000000,0.0,0.00,0.00,0.00,0.00,0.333333

In [21]:
y.loc[y == 0] = '0'
y.loc[y == 1] = '1'

C:\Users\Milad\anaconda3\envs\security\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [22]:
# Model Trainig 
from sklearn import tree
DecisionTree_model = tree.DecisionTreeClassifier()
DecisionTree_model.fit(X, y)

DecisionTreeClassifier()

In [23]:
# Preprocess test data

test_plus=test_plus.rename({41: "Attack"}, axis='columns')
test_plus.loc[test_plus["Attack"] == 'normal', "Attack"] = 0
test_plus.loc[test_plus["Attack"] != 0, "Attack"] = 1
test_plus.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,Attack,42
0,0,tcp,private,REJ,0,0,0,0,0,0,...,0.04,0.06,0.00,0.00,0.0,0.0,1.00,1.00,1,21
1,0,tcp,private,REJ,0,0,0,0,0,0,...,0.00,0.06,0.00,0.00,0.0,0.0,1.00,1.00,1,21
2,2,tcp,ftp_data,SF,12983,0,0,0,0,0,...,0.61,0.04,0.61,0.02,0.0,0.0,0.00,0.00,0,21
3,0,icmp,eco_i,SF,20,0,0,0,0,0,...,1.00,0.00,1.00,0.28,0.0,0.0,0.00,0.00,1,15
4,1,tcp,telnet,RSTO,0,15,0,0,0,0,...,0.31,0.17,0.03,0.02,0.0,0.0,0.83,0.71,1,11

In [24]:
X_test=test_plus.drop(['Attack'],axis=1)
y_test=test_plus['Attack']

In [25]:
# Leave_one_out_encoding
import category_encoders
ce=category_encoders.leave_one_out.LeaveOneOutEncoder(cols=[1,2,3])
X_test=ce.fit_transform(X_test,y_test)
# InterQuartile Scaling
from sklearn.preprocessing import RobustScaler
transformer = RobustScaler().fit(X_test)
X_test_scaled=transformer.transform(X_test)
X_test=pd.DataFrame(X_test_scaled,columns=X_test.columns)

C:\Users\Milad\anaconda3\envs\security\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [26]:
y_test.loc[y_test == 0] = '0'
y_test.loc[y_test == 1] = '1'

C:\Users\Milad\anaconda3\envs\security\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [27]:
# Evaluation
y_pred_DecisionTree=DecisionTree_model.predict(X_test)

In [28]:
from sklearn import metrics 
Conf_matrix_DecisionTree=metrics.confusion_matrix(y_test, y_pred_DecisionTree)
TP_DecisionTree=Conf_matrix_DecisionTree[0,0]
FN_DecisionTree=Conf_matrix_DecisionTree[1,0]
FP_DecisionTree=Conf_matrix_DecisionTree[0,1]
TN_DecisionTree=Conf_matrix_DecisionTree[1,1]

TPR_DecisionTree=TP_DecisionTree / float(TP_DecisionTree + FN_DecisionTree)
FNR_DecisionTree=FN_DecisionTree / float(TP_DecisionTree + FN_DecisionTree)
PPV_DecisionTree=TP_DecisionTree / float(TP_DecisionTree + FP_DecisionTree)

In [29]:
print('Decision Tree True positive rate (TPR, recall) on the test+ dataset: ', TPR_DecisionTree)
print("\n")
print('Decision Tree False negative rate (FNR) on the test+ dataset: ', FNR_DecisionTree)
print("\n")
print('Decision Tree positive predictive value (PPR, precision) on the test+ dataset: ', PPV_DecisionTree)
print("\n")
print('Decision Tree Accuracy on the test+ dataset: ', metrics.accuracy_score(y_pred_DecisionTree,y_test))
print("\n")

Decision Tree True positive rate (TPR, recall) on the test+ dataset:  0.9656639319355819


Decision Tree False negative rate (FNR) on the test+ dataset:  0.03433606806441811


Decision Tree positive predictive value (PPR, precision) on the test+ dataset:  0.9817732468334878


Decision Tree Accuracy on the test+ dataset:  0.977111426543648